:root {
  font-size: 16px;
  font-family: 'Sans-Serif';
  --transition-speed: 600ms;
  --color-yellow: #FFFF00;
  --color-orange: #FF8000; 
  --color-blue-light: #01afac;
  --color-blue-dark: #028381;
  --color-gray-light: #23232e;
  --color-gray-dark: #141418;
  --color-bg: #2e2e3a;
}

body {
  color: white;
  background-color: var(--color-bg);
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0.30rem;
}
  
body::-webkit-scrollbar-track {
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-blue-light);
}

form {
  --text-color: #afafaf;
  max-width: 500px;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

  /* Small screens */
  @media only screen and (max-width: 600px) {  
    main {
      margin: 0;
    }
  }
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
