:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: white;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0.30rem;
}
  
body::-webkit-scrollbar-track {
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background-color: #38ebff;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

  /* Small screens */
  @media only screen and (max-width: 600px) {  
    main {
      margin: 0;
    }
  }
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
