body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #c4c3ca;
  background-color: #1f2029;
  overflow-x: hidden;
}

a {
  cursor: pointer;
  transition: all 200ms linear;
}

a:hover {
  text-decoration: none;
}

.link {
  color: #c4c3ca;
}

link:hover {
  color: #ffeba7;
}

p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}

h4 {
  font-weight: 600;
}

h6 span{
  padding: 0 20px;
  text-transform: oppercase;
  font-weight: 700;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
    position: absolute;
    left: -9999px;
}







:root {
  font-size: 16px;
  font-family: 'Sans-Serif';
  --transition-speed: 600ms;
  --color-yellow: #FFFF00;
  --color-orange: #FF8000; 
  --color-blue-light: #01afac;
  --color-blue-dark: #028381;
  --color-gray-light: #23232e;
  --color-gray-dark: #141418;
}

body {
  color: white;
  background-color: #2e2e3a;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0.30rem;
}
  
body::-webkit-scrollbar-track {
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-blue-light);
}

form {
  --text-color: #afafaf;
  max-width: 500px;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

  /* Small screens */
  @media only screen and (max-width: 600px) {  
    main {
      margin: 0;
    }
  }
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
