.pw_color_green{
    color: yellowgreen;
}
.pw_color_red{
    color: orangered;
}

.register_label {
    margin-top: 2rem;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    color: var(--text-secondary);
    border-style: dashed solid dashed solid;
    border-width: 3x;
    border-color: var(--color-orange);
    background-color: transparent;
}

.list_horizontal {
    display: inline-block;
}

.strength {
    display: flex;
    height: 20px;
    width: 100%;
}

.bar {
    margin-right: 2px;
    margin-left: 2px;
    height: 100%;
    width: 25%;
    border-style: solid;
    border-width: 2px;
    border-color: var(--text-secondary);
    transition: box-shadow 500ms;
    box-shadow: inset 0px 20px #1f1f1f;
}

.bar_show {
    box-shadow: none;
}

.barOne {
    background: linear-gradient(to right, red, orangered);
}

.barTwo {
    background: linear-gradient(to right, orangered, yellow);
}

.barThree {
    background: linear-gradient(to right, yellow, yellowgreen);
}

.barFour {
    background: linear-gradient(to right, yellowgreen, green);
}

.toggle_password {
    position: absolute;
    cursor: helpers;
    font-size: 0.8rem;
    right: 0.25rem;
    bottom: 0.5rem;
}

.toggle_password {
    position: absolute;
    cursor: helpers;
    font-size: 0.8rem;
    right: 0.25rem;
    bottom: 0.5rem;
}
