.form_con {
    margin: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.form_con div {
    padding: 0px 5px;
    display: inline;
}

.div_con {
    margin-top: 15vh;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.checkbox {
    display: none;
}

.label {
    display: block;
    border: 3px solid var(--color-gray-light);
    border-radius: 4px;
    font-size: 20px;
    padding: 3px;
    width: 90px;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
}

.label::after{
    display: block;
    text-align: center;
    content: "Register";
    width: 100%;
}

.checkbox:checked ~ .label {
    background-color: var(--color-gray-light);
}

.flip_card {
    background-color: transparent;
  }
  
  .flip_card_inner {
    width: 750px;
    height: 25rem;
    margin: auto;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    border-radius: 40px;
    position: relative;
  }
  
  .checkbox:checked ~ .flip_card > .flip_card_inner {
    transform: rotateY(180deg);
    height: 40rem;
  }

  .checkbox:checked ~ .flip_card > .flip_card_inner .flip_card_back{
    height: 0%;
  }
  
  .checkbox:checked + .label::after{
    content: "Login" 
  }
  
  .checkbox:not(:checked) ~ .flip_card > .flip_card_inner .flip_card_front{
    height: 0%;
  }

  .flip_card_front, .flip_card_back {
    padding: 1px 0px 30px 0px;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: var(--color-bg);
    border-radius: 40px;
    position: absolute;
  }
  
  .flip_card_back {
    transform: rotateY(180deg);
  }

