.form_con {
    margin: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.form_con div {
    padding: 0px 5px;
    display: inline;
}

.div_con {
    margin-top: 15vh;
}

.checkbox[type="radio"]:checked,
.checkbox[type="radio"]:not(:checked){
    display: none;
}

.label {
    border: 3px solid var(--color-gray-light);
    border-radius: 3;
    background-color: var(--color-blue-dark);
}

.checkbox:checked + .label {
    background-color: var(--color-gray-light);
}

.flip_card {
    background-color: transparent;
  }
  
  .flip_card_inner {
    width: 750px;
    height: 100%;
    margin: auto;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    border-radius: 40px;
  }
  
  .flip_card:hover .flip_card_inner {
    transform: rotateY(180deg);
  }
  
  .flip_card:hover .flip_card_front {
    display: none;
  }

  .flip_card:not(:hover) .flip_card_back {
    display: none;
  }

  .flip_card_front, .flip_card_back {
    padding: 1px 0px 30px 0px;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: var(--color-bg);
    border-radius: 40px;
  }
  
  .flip_card_back {
    transform: rotateY(180deg);
  }